<div class="container">
    <!-- No data message -->
    <!--<p *ngIf="Review.length <= 0" class="no-data text-center">There is no review added yet!</p>-->
    <!-- Employee list -->
    <h2>Lista de reviews cadastradas</h2>
    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
          <th scope="col">Nota</th>
          <th scope="col">Descricao</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of Review; let i = index">
          <td>{{review.nota}}</td>
          <td>{{review.descricao}}</td>
        </tr>
      </tbody>
    </table>
  </div>