<nav>
  <a routerLinkActive="active" routerLink="/employees-list">View Employees </a>
  <a routerLinkActive="active" routerLink="/create-employee">Add Employee</a>
  <a routerLink="create-review" routerLinkActive="active">Add Review</a>
  <a routerLink="reviews-list" routerLinkActive="active">View Reviews</a>
  <a routerLink="game-create" routerLinkActive="active">Add Game</a>
  <a routerLink="lista-consoles" routerLinkActive="active">Lista consoles</a>
  <a routerLink="user-create" routerLinkActive="active">Add User</a>
  <a routerLink="user-login" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>