<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
        <!-- form card register -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Selecionar Console</h3>
            </div>
            <div class="card-body">
                <select #consoles (change)="onSelected(consoles.value)">
                    <option default>Selecione um console</option>
                    <option *ngFor="let console of Consoles" [value]="console.nome">
                        {{console.nome }}</option>
                </select>
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" type="button" (click)="onClick($event)">
                        Selecionar
                    </button>
                </div>
            </div>
        </div>
        <!-- form  -->
    </div>
</div>